/*
 * CSS fajl za http://Danijel.net
 * verzija: 1.0
 * autor: Danijel Mitrovic
 */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.clearfix:after {
	clear: both;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.tabela {
	display: table;
	width: 100%;
	height: 100%;
}

.celija {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.skrol-strelica {
	width: 70px;
	height: 80px;
	background: rgba(255,255,255,0.3);
	position: relative;
	top: -40px;
	left: 50%;
	margin-left: -35px;
	border-radius: 5px;
}

.skrol-strelica .gore-link {
	display: block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 70px;
	height: 40px;
	color: #fff;
	opacity: 0.3;
	text-align: center;
}

.skrol-strelica .dole-link {
	display: block;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 70px;
	height: 40px;
	color: #fff;
	opacity: 0.3;
	text-align: center;
}

#glavni {
	width: 100%;
	height: 100%;
}
#ja {
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(23deg, #673ab7, #7c4dff);
	background: -o-linear-gradient(23deg, #673ab7, #7c4dff);
	background: -moz-linear-gradient(23deg, #673ab7, #7c4dff);
	background: linear-gradient(23deg, #673ab7, #7c4dff);
	color: #fff;
}

#ja .tabela .celija h1 {
	display: inline-block;
	font-size: 66px;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

#ja .tabela .celija h3 {
	font-size: 20px;
	font-weight: 400;
	padding-top: 10px;
}

#kontakt {
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(23deg, #9c27b0, #e040fb);
	background: -o-linear-gradient(23deg, #9c27b0, #e040fb);
	background: -moz-linear-gradient(23deg, #9c27b0, #e040fb);
	background: linear-gradient(23deg, #9c27b0, #e040fb);
	color: #fff;
}

#kontakt .tabela .celija h1 {
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

#kontakt .tabela .celija ul.mreze-grupa {
	margin-top: 10px;
	list-style-type: none;
}

#kontakt .tabela .celija ul.mreze-grupa li {
	display: inline-block;
	margin: 5px;
}

#kontakt .tabela .celija ul.mreze-grupa li a {
	color: #fff;
}

#kontakt .tabela .celija ul.mreze-grupa li a:hover {
	text-decoration: underline;
}

#kontakt .tabela .celija .mreza {
	display: inline-block;
	border-radius: 5px;
	background: #fff;
	color: #f2a91a;
	margin-right: 10px;
}

#mreza-facebook {
	padding: 2px 15px;
}

#mreza-twitter {
	padding: 2px 15px;
}

#mreza-eposta {
	padding: 2px 8px;
}
